.sidebar-section img {
  width: 100%;
  margin-bottom: 2em;
}

.container-about {
	margin:0em 1em 0em 1em;
}

.header-image-about {
	width:100%;
	margin-top: -2em;
	margin-bottom: 2em;
	min-height: 200px;
}
@media only screen and (max-width: 768px){
.header-image-about {
	min-height: 230px;
}
}
span {
	padding-left: 20px;
}

