nav.navbar, .navbar-default {
 color: rgba(44, 25, 25, 0.3)
}

.navbar-nav {
    margin:0 auto 0 auto;
    padding-right:2.5em;
    font-size: 1.25em;

}

.navpad{
  padding:5px 25px 0px 25px;
  color:white;
  font-weight: bold;
  font-size: 1.2em;
}

.navbar-brand {
  margin-left: 10px;
  font-size: 2em;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative-top;
  width: 5%;
}

 .navbar-toggler-icon {
    background-color: rgba(225,225,225,1);
}

.navbar-toggler {
    background-color: rgba(225,225,225,1);
    margin-right:10px;
   }

  .navclass {
  z-index:200;
  width: 100%;
    position: fixed;
  transition: opacity .1s ease;
}