
.header-image-projects {
	width:100%;
	min-height: 200px;
	  margin-top: -2em;
	margin-bottom: 0;
}

@media only screen and (max-width: 768px){
.header-image-projects {
	min-height: 230px;
}
}
.projects-container {
	padding-top: 1em;

}

.your-class {
    z-index:200;
    position: fixed;
    bottom:0;  // this can be used to transition a sliding effect. Try -5rem in initial state
    transition: opacity .1s ease;  // this allows for a smooth transition effect
}